body{
    background-color: rgb(3, 17, 40);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}
nav{
    display: flex;
    height: 60px;
    width: 100%;
    background-color: rgb(6, 53, 119);
}
nav > div > a >img{
    height: 50px;
    border-radius: 50%;
    padding: 5px;
}
nav > div{
    margin-left: auto;
    margin-right: 10px;
    display: flex;
}
.logout {
    color: white;
    background-color: rgb(59, 104, 165);
    border: none;
    border-radius: 5px;
    margin: 10px;
}
.logout:hover {
color: white;
background-color: rgb(30, 58, 97);
}
.displayname {
    color: white;
    margin-top: 21px;
    margin-right: 10px;
}
.logo > img{
    height: 50px;
    margin: 5px;
    margin-left: 20px;
}
.search > img {
    height: 35px;
    margin: 5px;
    margin-left: 20px;
    background-color: rgb(103, 145, 203);
    padding: 7px;   
    border-radius: 20%;
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:left; 
}
.search .bottom {
    min-width:20px; 
    top:60px;
    left:9.5%;
    transform:translate(-50%, 0);
    padding:5px 10px;
    color:#444444;
    background-color:#EEEEEE;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}
.search:hover .bottom {
    visibility:visible; opacity:1;
}
.search .bottom i {
    position:absolute;
    bottom:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}
.search .bottom i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color:#EEEEEE;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
.search > img:hover {
    background-color: rgb(78, 110, 156);
}

/* Profile ToolTips*/
.profiles{
        display:inline-block;
        position:relative;
        border-bottom:1px dotted #666;
        text-align:left; 
}
.profiles .bottom {
    min-width:20px; 
    top:60px;
    left:50%;
    transform:translate(-50%, 0);
    padding:5px 10px;
    color:#444444;
    background-color:#EEEEEE;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}
.profiles:hover .bottom {
    visibility:visible; opacity:1;
}
.profiles .bottom i {
    position:absolute;
    bottom:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}
.profiles .bottom i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color:#EEEEEE;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
.Main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(14, 36, 70);
    width: 50%;
    border-radius: 5px;
}

.addpost {
    margin-left: auto;
    margin-right: auto;


}
 .textarea {
    display: block;
    width: 100%;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 20px;
    line-height: 20px;  
    font-size: large;
    border-radius: 50px;
    border: none;
    white-space: initial;
    background-color: white;
    color: rgb(82, 82, 82);
  }
.textarea:hover{
    cursor:text;
}
.poppost{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}
.content{
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    background-color: rgb(15, 37, 72);
    margin-top: 6%;
    padding: 15px;
    border-radius: 7px;
}
.content > .posttitle > b {
    font-size: 25px;
    position: relative;
}
.posttitle{
    text-align: center;
}
.closepost{
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 2px;
    border-radius: 50%;
    border: none;
    margin-left: 14.5%;
    background-color: rgb(105, 132, 171);
    color: white;
}
.closepost:hover{
    background-color: rgb(64, 85, 114);
    cursor: pointer;
}
.postProfile {
    display: flex;
}
.postProfile > img{
    height: 45px;
    border-radius: 50%;
    margin: 10px;
}
.areapost {
    width: 100%;
    height: 150px;
    font-size: 17px;
    resize: none;
}
.uploadPost{
    color: white;
    background-color: rgb(59, 104, 165);
    border: none;
    border-radius: 5px;
    height: 40px;
    font-size: larger;
    width: 100%;
    margin-top: 10px;
}
.uploadPost:hover{
    background-color: rgb(24, 44, 72);
    cursor: pointer;
}
.add_button{
    color: white;
    background-color: rgb(59, 104, 165);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    height: 30px;
    font-size: medium;
}
.add_button:hover{
    background-color: rgb(34, 61, 100);
    cursor: pointer;
}
.addbutton2{
    color: white;
    background-color: rgb(59, 104, 165);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    height: 30px;
    font-size: medium;
    width: 100%;
}
.addbutton2:hover{
    background-color: rgb(34, 61, 100);
    cursor: pointer;
}