body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(3, 17, 40);
}
i {
    color: white;
}
nav{
    color: white;
    display: flex;
    height: 50px;
    width: 100%;
    background-color: rgb(6, 53, 119);
}
.title{
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

}
label{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: x-large;
}
.back{
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:left; 
}
.back .bottom {
min-width:20px; 
top:60px;
left:70%;
transform:translate(-50%, 0);
padding:5px 10px;
color:#444444;
background-color:#EEEEEE;
font-weight:normal;
font-size:13px;
border-radius:8px;
position:absolute;
z-index:99999999;
box-sizing:border-box;
box-shadow:0 1px 8px rgba(0,0,0,0.5);
visibility:hidden; opacity:0; transition:opacity 0.8s;
}
.back:hover .bottom {
visibility:visible; opacity:1;
}
.back .bottom .ibut {
position:absolute;
bottom:100%;
left:40%;
margin-left:-12px;
width:24px;
height:12px;
overflow:hidden;
}
.back .bottom .ibut::after {
content:'';
position:absolute;
width:12px;
height:12px;
left:50%;
transform:translate(-50%,50%) rotate(45deg);
background-color:#EEEEEE;
box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

.banner > img{
    width: 100%;
    height: 35vh;
    object-fit: cover;
    object-position: 25% 25%; 
}
.banner {
    border-radius: 0 0 25px 25px;
   position: relative;
   z-index: 10;
   
}
  .left, .right {
    position: absolute;
    width: 150px;
    top: 0;
    bottom: -10;
    background-color: rgb(3, 17, 40);
    opacity: 0.9;
    -webkit-filter: blur(5px); 
    filter: blur(5px); 
    
}
.right {
    right: 0;
}
.pfp {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 20px;
    margin-left: 50px;
}
.profiles{
    width: 930px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(14, 36, 70);
    border-radius: 0 0 25px 25px;
}
.profilesinfo {
    display: flex;
}
.name > label {
    display: block;
    color: white;
}
.name {
    margin: 20px;
}
.Username {
font-size: 20px;
}
.displayName {
    font-size: 30px;
}
.edit {
    color: white;
    background-color: rgb(59, 104, 165);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 20px;
    height: 20px;
    margin-left: auto;
    margin-top: 40px;
}
.edit:hover {
    color: white;
    background-color: rgb(46, 83, 135);
}
.ProfileMenu {
    display: flex; 
}
.ProfileMenu > a{
    color: white;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
}
.ProfileMenu > a:hover{
    color: rgb(147, 188, 246);;
    border-style: none none solid none;
}
.MainProfile {
    background-color: rgb(14, 36, 70);
    height: 100vh;
    width: 930px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-radius: 20px;
}
.MainProfile > h1 {
    text-align: center;
}